<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 my-3">
        <div><i class="fas fa-map-marker-alt fa-lg mr-3 mb-2"></i><a href="https://goo.gl/maps/tt78BgZeQenFyV8G9" target="_blank">Department of Computer Science (CSD), Voutes University Campus, Greece</a></div>
        <div><i class="fas fa-phone-alt fa-lg mr-3 my-2"></i><a href="tel:0123456789">+00 0123 456 789</a></div>
        <div><i class="fas fa-envelope fa-lg mr-3 mt-2"></i><a href="mailto:csd3686@csd.uoc.gr">csd3686@csd.uoc.gr</a></div>
      </div>
      <div class="col-sm-6 my-3">
        <p class="lead">Private Clinic CMS</p>
        <p>Fast, unopinionated, minimalist content management system for private clinics.</p>
      </div>
    </div>
    <hr>
    <div class="row pb-3">
      <div class="col-md-6 my-2">
        © Copyright 2020 Private Clinic CMS - All Rights Reserved
      </div>
      <div class="col-md-6 my-2">
        <a href="#" target="_blank"><i class="fab fa-facebook-f fa-lg mr-1"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter fa-lg mx-1"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram fa-lg mx-1"></i></a>
        <a href="#" target="_blank"><i class="fab fa-youtube fa-lg mx-1"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin-in fa-lg ml-1"></i></a>
      </div>
    </div>
  </div>
</div>
